
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/SMAX/.vs/*
library/SMAX/SMAX/bin/*
library/SMAX/SMAX/obj/*

# ignore PowerShell Studio MetaData
SMAX/SMAX.psproj
SMAX/SMAX.psproj.bak
SMAX/SMAX.psprojs
SMAX/SMAX.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*
SMAX/en-us/*.json
